<!DOCTYPE html>
<html>
  <head>
    <title>Pierre's Treats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header">
        <h1>Pierre's Treats</h1>
      </div>
      <div class="navigator">
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Account", "Index", "Account")
        @Html.ActionLink("Foods", "Index", "Foods")
      </div>
      @RenderBody()
    </div>
  </body>
</html>