@{
  Layout = "_Layout";
}

@model Treat.Models.Flavor

<h2>Add a flavor to the database</h2>

@using (Html.BeginForm("Create", "Flavors", FormMethod.Post))
{
  <div class="card">
    <div class="card-body form-group">
      @Html.LabelFor(f => f.Name)
      @Html.TextBoxFor(f => f.Name, new {@class="form-control", @required=true})
    </div>
    <div class="card-footer">
      <input type="submit" value="Add Flavor" class="btn btn-primary" />
    </div>
  </div>
}