@{
  Layout = "_Layout";
}

@model Treat.Models.Flavor

<div class="card">
  <div class="card-header">
    <h5 class="card-title">@Model.Name</h5>
  </div>
  <div class="card-body">
    @if(Model.Foods.Count == 0)
    {
      <p><i>No foods added for this flavor</i></p>
    }
    else
    {
      <h6>Foods With This Flavor:</h6>
      <ul>
        @foreach(var join in Model.Foods)
        {
          <li>@Html.ActionLink($"{join.Food.Name}", "Details", "Foods", new { id = join.FoodId }, new { @class="card-link" })</li>
        }
      </ul>
    }
  </div>
  <div class="card-footer">
    @Html.ActionLink("Edit", "Edit", "Flavors", new { id = Model.FlavorId }, new { @class="btn btn-info"})
    @using (Html.BeginForm("Delete", "Flavors", FormMethod.Post))
    {
      <input type="submit" value="Delete" class="btn btn-alert" />
    }
  </div>
</div>