@{
  Layout = "_Layout";
}

@model Treat.Models.Flavor

<div class="card">
  <div class="card-header">
    <h5 class="card-title">@Model.Name</h5>
  </div>
  <div class="card-body">
    @if(Model.Foods.Count == 0)
    {
      <p><i>No foods added for this flavor</i></p>
    }
    else
    {
      <h6>Foods With This Flavor:</h6>
      <ul>
        @foreach(var join in Model.Foods)
        {
          <li>
            <div class="btn-group">
              @Html.ActionLink($"{join.Food.Name}", "Details", "Foods", new { id = join.FoodId }, new { @class="card-link" })
              @using (Html.BeginForm("RemoveFood", "Flavors", new { id = Model.FlavorId, joinId = join.FlavorFoodId }, FormMethod.Post))
              {
                <input type="image" src="~/img/red-x.png"/>
              }
            </div>
          </li>
        }
      </ul>
    }
    @Html.ActionLink("Add A Food", "AddFood", "Flavors", new { id = Model.FlavorId }, new { @class="btn btn-primary"})
  </div>
  <div class="card-footer">
    <div class="btn-group">
      @Html.ActionLink("Edit", "Edit", "Flavors", new { id = Model.FlavorId }, new { @class="btn btn-info"})
      @using (Html.BeginForm("Delete", "Flavors", new { id = Model.FlavorId }, FormMethod.Post))
      {
        <input type="submit" value="Delete" class="btn btn-danger" />
      }
    </div>
  </div>
</div>